
<head>
    <style>
        .bar-a{
            color: #eee;
            cursor: pointer;
        }
        .bar-a:hover{
            color: #c8c8c8;
            text-decoration: underline;
        }
    </style>
</head>
<div class="modal fade " id="signin_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-look" role="document">
        <div class="modal-content ">
            <div>
                <div class="modal-body ">
                    <div style="margin-bottom: 15px">
                        <button type="button" class="close" data-dismiss="modal"  >
                            <span aria-hidden="true" style="font-size: 25px;font-weight: 400">&times</span>
                        </button>
                    </div>
                    <div class="land_modal_content">
                        <h3 class="modal-title login_center text-bold">登录你的账户</h3>
                        <h4 class="login_center" style="font-style: normal">这是走进美妙世界的第一步</h4>
                        <form name="loginForm" accept-charset="UTF-8" method="post" class="l-p-d" novalidate>
                            <fieldset class="form-group">
                                <input class="form-control land-box" id="user_mail" placeholder="电子邮箱" type="email" ng-model="loginInfo.email"required>
                            </fieldset>
                            <fieldset>
                                <input class="form-control land-box" id="user_password" placeholder="密码" type="password"  maxlength="20"
                                       ng-model="loginInfo.password" required>
                            </fieldset>
                            <div class="l-m-g">
                                <label for="signin" style="color: grey;font-size: small" >
                                    <input type="checkbox" id="signin" style="">
                                    <span>记住密码</span>
                                </label>
                                <p style="float: right;font-size: small"><a href="javascript:void(0)">忘记密码？</a></p>
                            </div>
                            <div class="btn-m-b">
                                <button type="submit" class="btn btn-primary btn-block  btn-login" ng-click="loginDo()" ng-disabled="loginForm.$invalid">登录</button>
                            </div>
                            <div class="line-divider-wrapper">
                            </div>
                            <div class="btn-m-b">
                                <button type="button" class="btn btn-qq btn-block  ">
                                    <img class="icon-align" src="images/QQ.png">
                                    QQ帐号登录</button>
                                <button type="button" class="btn btn-wechat btn-block  ">
                                    <img class="icon-align" src="images/wechat.png">
                                    微信帐号登录</button>
                                <button type="button" class="btn btn-sina btn-block  ">
                                    <img class="icon-align" src="images/sina.png">
                                    新浪微博登录</button>
                            </div>
                        </form>
                        <!--  <div>
                              <a class="btn btn-block btn-group-sm">
                                  其他账号登录
                              </a>
                          </div>-->
                        <div style="text-align: center">
                            <p style="margin-left: 10px">还没有账户？<a href="#">注册</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="landing_bg" style="z-index: 10">
    <div style="position: fixed; width: 100%; background-color: rgba(0,0,0,.8);z-index: 3">
        <div class="container" style="position: relative">
            <div class="row">
                <div class="col-xs-12">
                    <div class="land_hero_navbar">
                        <img src="images/codeplace_icon.svg" class="land_logo" alt="Icon" style="margin-top: 10px">
                        <a href="#" class="hidden-sm">
                            <img src="images/hiring.svg" class="land_hiring" alt="Hiring">
                        </a>
                        <div  style="float:right">
                            <ul class="list-inline " style="margin-bottom: 0">
                                <li class="land_menu-item land_menu-signin list-inline-item"  >
                                    <a class="bar-a">Pricing</a>
                                </li>
                                <li class="land_menu-item land_menu-signin list-inline-item" >
                                    <a class="bar-a" href="#">Library</a>
                                </li>
                                <li class=" land_menu-signin  land_login-btn " style="margin-right: auto" ng-click="showModal('signin_modal')">
                                    <p>登录</p>
                                </li>
                                <li class="land_menu-signin   land_signup-btn">
                                    <p>免费注册</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="position: relative">
        <div class="land_wrapper" style="text-align: center !important;">
            <!--   <embed src="music/纯音乐 - 夜曲.mp3" autostart="false" loop="true" title="纯音乐-夜曲"
                      controls="console" volum="10" width="300"height="55"></embed>-->
            <h1 class="land_title display-4">赶紧加入我们吧</h1>
            <h2 class="land_subtitle">这里将会有很多挑战等待着你</h2>
            <a href="#" class="btn btn-success land_btn">免费体验</a>
            <a href="#" class="btn btn_outline land_btn">学习通道</a>
            <div class="" style="text-align: center !important;">
                <h3 class="land_developer">
                    欢迎加入由<span style="color: white">3,000+开发者</span>构成的团队
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="bg-primary">
    <div class="container">
        <h2 class="text-center land-recipe-title p-t-3">
            在这里，我们将会一步一步告诉你怎样去用代码搭建一个属于你自己的最酷最炫的工程
        </h2>
        <div class="">
            <div class="row">
                <div class="col-lg-3">
                    <div class="feature-box m-t-2">
                        <div class="f-title">
                            <img class="feature-icon" src="images/code-editor.svg" alt="Code Editor">Code Additions/Removals
                        </div>
                        <div class="f-description">
                            Know exactly what code is being added, deleted or updated at all times.
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="f-title">
                            <img class="feature-icon" src="images/webpage.svg" alt="Code Editor">Knowledge Dictionary
                        </div>
                        <div class="f-description">
                            Every Recipe is deep linked to the Language or API documentation.
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="f-title">
                            <img class="feature-icon" src="images/image.svg" alt="Code Editor">Screenshots &amp; GIFs
                        </div>
                        <div class="f-description">
                            Understand how code impacts the front end.
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="f-title">
                            <img class="feature-icon" src="images/shopping.svg" alt="Code Editor">Live App Preview
                        </div>
                        <div class="f-description">
                            Know how the end project will look like before you start learning.
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="f-title">
                            <img class="feature-icon" src="images/ui-color.svg" alt="Code Editor">Some more cool stuff
                        </div>
                        <div class="f-description">
                            Know how the end project will look like before you start learning.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class=""><img class="recipe-preview" src="images/recipe_complete.png" alt="Recipe Complete"></div>
                </div>
                <div class="col-lg-3">
                    <div class="feature-box m-t-2">
                        <div class="f-title">
                            <img class="feature-icon" src="images/code-editor.svg" alt="Code Editor">Code Additions/Removals
                        </div>
                        <div class="f-description">
                            Know exactly what code is being added, deleted or updated at all times.
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="f-title">
                            <img class="feature-icon" src="images/webpage.svg" alt="Code Editor">Knowledge Dictionary
                        </div>
                        <div class="f-description">
                            Every Recipe is deep linked to the Language or API documentation.
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="f-title">
                            <img class="feature-icon" src="images/image.svg" alt="Code Editor">Screenshots &amp; GIFs
                        </div>
                        <div class="f-description">
                            Understand how code impacts the front end.
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="f-title">
                            <img class="feature-icon" src="images/shopping.svg" alt="Code Editor">Live App Preview
                        </div>
                        <div class="f-description">
                            Know how the end project will look like before you start learning.
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="f-title">
                            <img class="feature-icon" src="images/ui-color.svg" alt="Code Editor">Some more cool stuff
                        </div>
                        <div class="f-description">
                            Know how the end project will look like before you start learning.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="message-wrapper">
    <div class="container">
        <h2 class="land-message m-b-3" >学习搭建在任何市场范围内的社交网站</h2>
    </div>
</div>
<!--<script src="../scripts/controllers/homeController.js"></script>-->